{% extends 'base.html' %}

{% block content %}

{% if page == 'login' %}
 <div class="login-container">
   <form method="POST">
     {% csrf_token %}
     <label for="username">Username:</label>
     <input type="text" name="username" required>
     <br>
     <label for="password">Password:</label>
     <input type="password" name="password" required>
     <br>
     <input type="submit" value="login">
   </form>
     <p>Don't have an account? <span><a href="{% url 'signup' %}">Signup</a></span></p>
 </div>
 {% else %}
 <div class="signup-container">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Signup">
  </form>
     <p>Don't have an account? <span><a href="{% url 'login' %}">Login</a></span></p>  
 </div>
 {% endif %}
